<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Options</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Doctor Options</h1>
    <form th:action="@{/doctors/submitOption}" method="get">
        <label>New Doctor:</label>
        <select name="doctorOption">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
